footer{
    height: 60vh;
    width: 100%;
    background-color: #000;
    color:#fff;
}

.footer-container{
    height: 70%;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.foot-item{
    width: 25%;
    margin-top:3%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.foot-item-title{
    font-weight: bold;
    text-transform: uppercase;
}

.foot-item-list{
    display: flex;
    flex-direction: column;
    gap: 3px;
    list-style: none;
}

.foot-item-list li a{
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.foot-item-list li .reso{
    display: flex;
    gap: 15px;
    align-items: center;
}

.foot-item-list li a:hover{
    text-decoration: underline;
}

#icon{
    font-size: 25px;
}

.foot-end{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize
}