.product{
    width: fit-content;
    height: 85vh;
}

.product-head{
    width: 95%;
    height: 20%;
    display: flex;
    align-items: center;
    margin: auto;
}

.product .product-title{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: fit-content;
}

.product .product-title:hover{
    border-bottom: 8px solid black;
}



.product-card{
    width: 23%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    transition: 0.4s ease-in-out ;
}




.product-card-img{
    width: 100%;
    height: 40vh;
    border-radius: 12px;
}

.product-card:hover{
    transform: scale(1.1);
}


.product-card-body{
    width: 96%;
    height: 75%;
    margin: auto;
}

.product-card-body-price{
    color: #000;
    font-weight: bold;
    font-size: 14px;
    width: 32%;
}


.product-card-foot{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card-foot-btn{
    margin-top: 15px;
    width: 68%;
    padding: 15px 20px;
    background-color: #fff;
    color: #000;
    border: 0.1px #000 solid;
    border-radius: 3px;
    font-weight: 600;
    transition: 0.3s ease-in;
    margin:10px;
}

.product-card-foot-btn:hover{
    background-color: #000;
    color: #fff;
    border: 0.1px #fff solid;
}

.profuct-container{
    width: 95%;
    height: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



