.product{
    margin-top: 10vh;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
}

.product-title{
    margin: 90px 0;
    text-transform: capitalize;
    position: relative;
}

.product-title::after{
    content: "";
    position: absolute;
    width: 44vh;
    bottom: -10px;
    border-radius: 60px;
    left: 0%;
    height: 3px;
    background: black;
    animation: animationproduct 2s infinite ;
}

@keyframes animationproduct {
    0%{
        width: 0;
    }
    100%{
        width: 44vh;
    }
}

.product-card{
    width: 23%;
    height: 60% ;
    margin-bottom: 10vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 12px 24px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    transition: 0.4s ease-in-out ;
}

.product-card:hover{
    transform: scale(1.1);
}

.product-card-head{
    width: 100%;
    height: 60% ;
    position: relative;
    padding: 10px;
}

.product-card-heart-icon{
    position: absolute;
    top: 2%;
    right: 4%;
}


.product-card-img{
    width: 100%;
    height: 40vh;
    border-radius: 12px;
}

.product-card-body{
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
}

.product-card-foot{
    display: flex;
    flex-direction: column;
}

.product-card-foot-btn{
    margin-top: 15px;
    width: 90%;
    padding: 15px 20px;
    background-color: #fff;
    color: #000;
    border: 0.1px #000 solid;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.3s ease-in;
    margin:10px;
}

.product-card-foot-btn:hover{
    background-color: #000;
    color: #fff;
    border: 0.1px #fff solid;
}

.profuct-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2%;
    flex-wrap: wrap;
}

.product-card-foot-rate{
    margin: 10px;
}


